body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.info-section {
/* background-color: #e8f4ff; */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-section img {
  max-width: 100%;
  height: auto;
}

.info-section h1 {
  font-size: 42px;
  margin: 20px 0;
}

.form-section {
  padding: 40px;
  background-color: #ffffff;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-group.full-width {
  grid-column: span 2;
}

span {
  color: rgb(46, 46, 219);
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  grid-column: span 2;
}

.terms {
  font-size: 12px;
  color: #555;
  margin-top: 10px;
  grid-column: span 2;
}